:root {
  --light-gray-1: rgba(250, 250, 250, 1);
  --text-color: rgba(37, 43, 66, 1);
  --muted-color: rgba(189, 189, 189, 1);
  --light-text-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(81, 191, 166, 1);
  --second-text-color: rgba(115, 115, 115, 1);
  --danger-color: rgba(231, 64, 64, 1);
  --faded-primary-color: rgba(249, 253, 255, 1);
  --faded-secondary-color-1: rgba(221, 238, 254, 1);
  --faded-secondary-color-2: rgba(182, 215, 255, 1);
  --dark-background-color: rgba(38, 51, 93, 1);
  --light-text-gray-2: rgba(236, 236, 236, 1);
  --primary-text-color: rgba(200, 192, 190, 1);
  --secondary-color-1: rgba(0, 97, 255, 1);
  --secondary-text-color-1: rgba(0, 97, 255, 1);
  --light-background-color: rgba(255, 255, 255, 1);
  --secondary: rgba(243, 205, 3, 1);
  --material-themewhite: rgba(255, 255, 255, 1);
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themesyslightprimary: rgba(38, 91, 181, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslightprimary-container: rgba(217, 226, 255, 1);
  --material-themesyslighton-primary-container: rgba(0, 26, 67, 1);
  --material-themesyslightprimary-fixed: rgba(217, 226, 255, 1);
  --material-themesyslighton-primary-fixed: rgba(0, 26, 67, 1);
  --material-themesyslightprimary-fixed-dim: rgba(175, 198, 255, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(0, 67, 152, 1);
  --material-themesyslightsecondary: rgba(87, 94, 113, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslightsecondary-container: rgba(219, 226, 249, 1);
  --material-themesyslighton-secondary-container: rgba(20, 27, 44, 1);
  --material-themesyslightsecondary-fixed: rgba(219, 226, 249, 1);
  --material-themesyslighton-secondary-fixed: rgba(20, 27, 44, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(191, 198, 220, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(63, 71, 89, 1);
  --material-themesyslighttertiary: rgba(114, 85, 115, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighttertiary-container: rgba(252, 215, 251, 1);
  --material-themesyslighton-tertiary-container: rgba(42, 19, 45, 1);
  --material-themesyslighttertiary-fixed: rgba(252, 215, 251, 1);
  --material-themesyslighton-tertiary-fixed: rgba(42, 19, 45, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(223, 187, 222, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(88, 62, 90, 1);
  --material-themesyslighterror: rgba(186, 26, 26, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighterror-container: rgba(255, 218, 214, 1);
  --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
  --material-themesyslightoutline: rgba(117, 119, 128, 1);
  --material-themesyslightbackground: rgba(254, 251, 255, 1);
  --material-themesyslighton-background: rgba(27, 27, 31, 1);
  --material-themesyslightsurface: rgba(250, 248, 253, 1);
  --material-themesyslighton-surface: rgba(27, 27, 31, 1);
  --material-themesyslightsurface-variant: rgba(225, 226, 236, 1);
  --material-themesyslighton-surface-variant: rgba(68, 71, 79, 1);
  --material-themesyslightinverse-surface: rgba(48, 48, 52, 1);
  --material-themesyslightinverse-on-surface: rgba(242, 240, 244, 1);
  --material-themesyslightinverse-primary: rgba(175, 198, 255, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-tint: rgba(38, 91, 181, 1);
  --material-themesyslightoutline-variant: rgba(197, 198, 208, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsurface-container-highest: rgba(227, 226, 230, 1);
  --material-themesyslightsurface-container-high: rgba(233, 231, 236, 1);
  --material-themesyslightsurface-container: rgba(239, 237, 241, 1);
  --material-themesyslightsurface-container-low: rgba(245, 243, 247, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-bright: rgba(250, 248, 253, 1);
  --material-themesyslightsurface-dim: rgba(219, 217, 221, 1);
  --material-themesysdarkprimary: rgba(175, 198, 255, 1);
  --material-themesysdarkon-primary: rgba(0, 45, 108, 1);
  --material-themesysdarkprimary-container: rgba(0, 67, 152, 1);
  --material-themesysdarkon-primary-container: rgba(217, 226, 255, 1);
  --material-themesysdarkprimary-fixed: rgba(217, 226, 255, 1);
  --material-themesysdarkon-primary-fixed: rgba(0, 26, 67, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(175, 198, 255, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(0, 67, 152, 1);
  --material-themesysdarksecondary: rgba(191, 198, 220, 1);
  --material-themesysdarkon-secondary: rgba(41, 48, 65, 1);
  --material-themesysdarksecondary-container: rgba(63, 71, 89, 1);
  --material-themesysdarkon-secondary-container: rgba(219, 226, 249, 1);
  --material-themesysdarksecondary-fixed: rgba(219, 226, 249, 1);
  --material-themesysdarkon-secondary-fixed: rgba(20, 27, 44, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(191, 198, 220, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(63, 71, 89, 1);
  --material-themesysdarktertiary: rgba(223, 187, 222, 1);
  --material-themesysdarkon-tertiary: rgba(64, 40, 67, 1);
  --material-themesysdarktertiary-container: rgba(88, 62, 90, 1);
  --material-themesysdarkon-tertiary-container: rgba(252, 215, 251, 1);
  --material-themesysdarktertiary-fixed: rgba(252, 215, 251, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(42, 19, 45, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(223, 187, 222, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(88, 62, 90, 1);
  --material-themesysdarkerror: rgba(255, 180, 171, 1);
  --material-themesysdarkon-error: rgba(105, 0, 5, 1);
  --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
  --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
  --material-themesysdarkoutline: rgba(142, 144, 153, 1);
  --material-themesysdarkbackground: rgba(27, 27, 31, 1);
  --material-themesysdarkon-background: rgba(227, 226, 230, 1);
  --material-themesysdarksurface: rgba(18, 19, 22, 1);
  --material-themesysdarkon-surface: rgba(199, 198, 202, 1);
  --material-themesysdarksurface-variant: rgba(68, 71, 79, 1);
  --material-themesysdarkon-surface-variant: rgba(197, 198, 208, 1);
  --material-themesysdarkinverse-surface: rgba(227, 226, 230, 1);
  --material-themesysdarkinverse-on-surface: rgba(27, 27, 31, 1);
  --material-themesysdarkinverse-primary: rgba(38, 91, 181, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-tint: rgba(175, 198, 255, 1);
  --material-themesysdarkoutline-variant: rgba(68, 71, 79, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksurface-container-highest: rgba(52, 53, 56, 1);
  --material-themesysdarksurface-container-high: rgba(41, 42, 45, 1);
  --material-themesysdarksurface-container: rgba(31, 31, 35, 1);
  --material-themesysdarksurface-container-low: rgba(27, 27, 31, 1);
  --material-themesysdarksurface-container-lowest: rgba(13, 14, 17, 1);
  --material-themesysdarksurface-bright: rgba(56, 57, 60, 1);
  --material-themesysdarksurface-dim: rgba(18, 19, 22, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(0, 26, 67, 1);
  --material-themerefprimaryprimary20: rgba(0, 45, 108, 1);
  --material-themerefprimaryprimary30: rgba(0, 67, 152, 1);
  --material-themerefprimaryprimary40: rgba(38, 91, 181, 1);
  --material-themerefprimaryprimary50: rgba(69, 117, 208, 1);
  --material-themerefprimaryprimary60: rgba(97, 143, 236, 1);
  --material-themerefprimaryprimary70: rgba(131, 170, 255, 1);
  --material-themerefprimaryprimary80: rgba(175, 198, 255, 1);
  --material-themerefprimaryprimary90: rgba(217, 226, 255, 1);
  --material-themerefprimaryprimary95: rgba(237, 240, 255, 1);
  --material-themerefprimaryprimary99: rgba(254, 251, 255, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefprimaryprimary4: rgba(0, 13, 41, 1);
  --material-themerefprimaryprimary5: rgba(0, 15, 46, 1);
  --material-themerefprimaryprimary6: rgba(0, 18, 51, 1);
  --material-themerefprimaryprimary12: rgba(0, 29, 75, 1);
  --material-themerefprimaryprimary17: rgba(0, 39, 95, 1);
  --material-themerefprimaryprimary22: rgba(0, 50, 116, 1);
  --material-themerefprimaryprimary24: rgba(0, 54, 125, 1);
  --material-themerefprimaryprimary25: rgba(0, 56, 129, 1);
  --material-themerefprimaryprimary35: rgba(18, 79, 168, 1);
  --material-themerefprimaryprimary87: rgba(204, 218, 255, 1);
  --material-themerefprimaryprimary92: rgba(225, 232, 255, 1);
  --material-themerefprimaryprimary94: rgba(233, 237, 255, 1);
  --material-themerefprimaryprimary96: rgba(241, 243, 255, 1);
  --material-themerefprimaryprimary98: rgba(250, 249, 255, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(20, 27, 44, 1);
  --material-themerefsecondarysecondary20: rgba(41, 48, 65, 1);
  --material-themerefsecondarysecondary30: rgba(63, 71, 89, 1);
  --material-themerefsecondarysecondary40: rgba(87, 94, 113, 1);
  --material-themerefsecondarysecondary50: rgba(112, 119, 139, 1);
  --material-themerefsecondarysecondary60: rgba(137, 144, 165, 1);
  --material-themerefsecondarysecondary70: rgba(164, 171, 192, 1);
  --material-themerefsecondarysecondary80: rgba(191, 198, 220, 1);
  --material-themerefsecondarysecondary90: rgba(219, 226, 249, 1);
  --material-themerefsecondarysecondary95: rgba(237, 240, 255, 1);
  --material-themerefsecondarysecondary99: rgba(254, 251, 255, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary4: rgba(7, 14, 30, 1);
  --material-themerefsecondarysecondary5: rgba(9, 17, 33, 1);
  --material-themerefsecondarysecondary6: rgba(12, 19, 35, 1);
  --material-themerefsecondarysecondary12: rgba(24, 31, 48, 1);
  --material-themerefsecondarysecondary17: rgba(35, 42, 59, 1);
  --material-themerefsecondarysecondary22: rgba(45, 53, 70, 1);
  --material-themerefsecondarysecondary24: rgba(50, 57, 75, 1);
  --material-themerefsecondarysecondary25: rgba(52, 59, 77, 1);
  --material-themerefsecondarysecondary35: rgba(75, 82, 101, 1);
  --material-themerefsecondarysecondary87: rgba(211, 218, 240, 1);
  --material-themerefsecondarysecondary92: rgba(225, 232, 255, 1);
  --material-themerefsecondarysecondary94: rgba(233, 237, 255, 1);
  --material-themerefsecondarysecondary96: rgba(241, 243, 255, 1);
  --material-themerefsecondarysecondary98: rgba(250, 249, 255, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(42, 19, 45, 1);
  --material-themereftertiarytertiary20: rgba(64, 40, 67, 1);
  --material-themereftertiarytertiary30: rgba(88, 62, 90, 1);
  --material-themereftertiarytertiary40: rgba(114, 85, 115, 1);
  --material-themereftertiarytertiary50: rgba(140, 109, 140, 1);
  --material-themereftertiarytertiary60: rgba(167, 134, 167, 1);
  --material-themereftertiarytertiary70: rgba(194, 161, 194, 1);
  --material-themereftertiarytertiary80: rgba(223, 187, 222, 1);
  --material-themereftertiarytertiary90: rgba(252, 215, 251, 1);
  --material-themereftertiarytertiary95: rgba(255, 235, 251, 1);
  --material-themereftertiarytertiary99: rgba(255, 251, 255, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary4: rgba(27, 5, 30, 1);
  --material-themereftertiarytertiary5: rgba(30, 8, 33, 1);
  --material-themereftertiarytertiary6: rgba(33, 10, 36, 1);
  --material-themereftertiarytertiary12: rgba(46, 23, 49, 1);
  --material-themereftertiarytertiary17: rgba(57, 33, 60, 1);
  --material-themereftertiarytertiary22: rgba(69, 44, 71, 1);
  --material-themereftertiarytertiary24: rgba(74, 48, 76, 1);
  --material-themereftertiarytertiary25: rgba(76, 50, 78, 1);
  --material-themereftertiarytertiary35: rgba(101, 73, 102, 1);
  --material-themereftertiarytertiary87: rgba(243, 207, 242, 1);
  --material-themereftertiarytertiary92: rgba(255, 222, 253, 1);
  --material-themereftertiarytertiary94: rgba(255, 231, 252, 1);
  --material-themereftertiarytertiary96: rgba(255, 239, 251, 1);
  --material-themereftertiarytertiary98: rgba(255, 247, 250, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 0, 2, 1);
  --material-themereferrorerror20: rgba(105, 0, 5, 1);
  --material-themereferrorerror30: rgba(147, 0, 10, 1);
  --material-themereferrorerror40: rgba(186, 26, 26, 1);
  --material-themereferrorerror50: rgba(222, 55, 48, 1);
  --material-themereferrorerror60: rgba(255, 84, 73, 1);
  --material-themereferrorerror70: rgba(255, 137, 125, 1);
  --material-themereferrorerror80: rgba(255, 180, 171, 1);
  --material-themereferrorerror90: rgba(255, 218, 214, 1);
  --material-themereferrorerror95: rgba(255, 237, 234, 1);
  --material-themereferrorerror99: rgba(255, 251, 255, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themereferrorerror4: rgba(40, 0, 1, 1);
  --material-themereferrorerror5: rgba(45, 0, 1, 1);
  --material-themereferrorerror6: rgba(49, 0, 1, 1);
  --material-themereferrorerror12: rgba(73, 0, 2, 1);
  --material-themereferrorerror17: rgba(92, 0, 4, 1);
  --material-themereferrorerror22: rgba(113, 0, 5, 1);
  --material-themereferrorerror24: rgba(121, 0, 6, 1);
  --material-themereferrorerror25: rgba(126, 0, 7, 1);
  --material-themereferrorerror35: rgba(168, 7, 16, 1);
  --material-themereferrorerror87: rgba(255, 207, 201, 1);
  --material-themereferrorerror92: rgba(255, 226, 222, 1);
  --material-themereferrorerror94: rgba(255, 233, 230, 1);
  --material-themereferrorerror96: rgba(255, 240, 238, 1);
  --material-themereferrorerror98: rgba(255, 248, 247, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral4: rgba(13, 14, 17, 1);
  --material-themerefneutralneutral6: rgba(18, 19, 22, 1);
  --material-themerefneutralneutral10: rgba(27, 27, 31, 1);
  --material-themerefneutralneutral12: rgba(31, 31, 35, 1);
  --material-themerefneutralneutral17: rgba(41, 42, 45, 1);
  --material-themerefneutralneutral20: rgba(48, 48, 52, 1);
  --material-themerefneutralneutral22: rgba(52, 53, 56, 1);
  --material-themerefneutralneutral24: rgba(56, 57, 60, 1);
  --material-themerefneutralneutral30: rgba(70, 70, 74, 1);
  --material-themerefneutralneutral40: rgba(94, 94, 98, 1);
  --material-themerefneutralneutral50: rgba(119, 119, 122, 1);
  --material-themerefneutralneutral60: rgba(145, 144, 148, 1);
  --material-themerefneutralneutral70: rgba(172, 171, 175, 1);
  --material-themerefneutralneutral80: rgba(199, 198, 202, 1);
  --material-themerefneutralneutral87: rgba(219, 217, 221, 1);
  --material-themerefneutralneutral90: rgba(227, 226, 230, 1);
  --material-themerefneutralneutral92: rgba(233, 231, 236, 1);
  --material-themerefneutralneutral94: rgba(239, 237, 241, 1);
  --material-themerefneutralneutral95: rgba(242, 240, 244, 1);
  --material-themerefneutralneutral96: rgba(245, 243, 247, 1);
  --material-themerefneutralneutral99: rgba(254, 251, 255, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral5: rgba(16, 17, 20, 1);
  --material-themerefneutralneutral25: rgba(59, 59, 63, 1);
  --material-themerefneutralneutral35: rgba(82, 82, 86, 1);
  --material-themerefneutralneutral98: rgba(250, 248, 253, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(25, 27, 35, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(46, 48, 56, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(68, 71, 79, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(92, 94, 103, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(117, 119, 128, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(142, 144, 153, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(169, 171, 180, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(197, 198, 208, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(225, 226, 236, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(239, 240, 250, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(254, 251, 255, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant4: rgba(11, 14, 21, 1);
  --material-themerefneutral-variantneutral-variant5: rgba(14, 17, 24, 1);
  --material-themerefneutral-variantneutral-variant6: rgba(17, 19, 26, 1);
  --material-themerefneutral-variantneutral-variant12: rgba(29, 31, 39, 1);
  --material-themerefneutral-variantneutral-variant17: rgba(39, 42, 49, 1);
  --material-themerefneutral-variantneutral-variant22: rgba(50, 53, 60, 1);
  --material-themerefneutral-variantneutral-variant24: rgba(55, 57, 65, 1);
  --material-themerefneutral-variantneutral-variant25: rgba(57, 59, 67, 1);
  --material-themerefneutral-variantneutral-variant35: rgba(80, 82, 90, 1);
  --material-themerefneutral-variantneutral-variant87: rgba(216, 217, 227, 1);
  --material-themerefneutral-variantneutral-variant92: rgba(231, 231, 242, 1);
  --material-themerefneutral-variantneutral-variant94: rgba(236, 237, 247, 1);
  --material-themerefneutral-variantneutral-variant96: rgba(242, 243, 253, 1);
  --material-themerefneutral-variantneutral-variant98: rgba(250, 249, 255, 1);
  --material-themekey-colorsprimary: rgba(94, 140, 233, 1);
  --material-themesourceseed: rgba(94, 140, 233, 1);
  --h-2-font-family: "Montserrat-Bold", Helvetica;
  --h-2-font-weight: 700;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: 0.20000000298023224px;
  --h-2-line-height: 50px;
  --h-2-font-style: normal;
  --h-5-font-family: "Montserrat-Bold", Helvetica;
  --h-5-font-weight: 700;
  --h-5-font-size: 16px;
  --h-5-letter-spacing: 0.10000000149011612px;
  --h-5-line-height: 24px;
  --h-5-font-style: normal;
  --btn-text-font-family: "Montserrat-Bold", Helvetica;
  --btn-text-font-weight: 700;
  --btn-text-font-size: 14px;
  --btn-text-letter-spacing: 0.20000000298023224px;
  --btn-text-line-height: 22px;
  --btn-text-font-style: normal;
  --paragraph-font-family: "Montserrat-Regular", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 14px;
  --paragraph-letter-spacing: 0.20000000298023224px;
  --paragraph-line-height: 20px;
  --paragraph-font-style: normal;
  --h-6-font-family: "Montserrat-Bold", Helvetica;
  --h-6-font-weight: 700;
  --h-6-font-size: 14px;
  --h-6-letter-spacing: 0.20000000298023224px;
  --h-6-line-height: 24px;
  --h-6-font-style: normal;
  --h-3-font-family: "Montserrat-Bold", Helvetica;
  --h-3-font-weight: 700;
  --h-3-font-size: 24px;
  --h-3-letter-spacing: 0.10000000149011612px;
  --h-3-line-height: 32px;
  --h-3-font-style: normal;
  --small-font-family: "Montserrat-Regular", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 12px;
  --small-letter-spacing: 0.20000000298023224px;
  --small-line-height: 16px;
  --small-font-style: normal;
  --h-4-font-family: "Montserrat-Regular", Helvetica;
  --h-4-font-weight: 400;
  --h-4-font-size: 20px;
  --h-4-letter-spacing: 0.20000000298023224px;
  --h-4-line-height: 30px;
  --h-4-font-style: normal;
  --link-font-family: "Montserrat-Bold", Helvetica;
  --link-font-weight: 700;
  --link-font-size: 14px;
  --link-letter-spacing: 0.20000000298023224px;
  --link-line-height: 24px;
  --link-font-style: normal;
  --h-1-font-family: "Montserrat-Bold", Helvetica;
  --h-1-font-weight: 700;
  --h-1-font-size: 58px;
  --h-1-letter-spacing: 0.20000000298023224px;
  --h-1-line-height: 80px;
  --h-1-font-style: normal;
  --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-style: normal;
  --light-drop-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --accentued-drop-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
