.features-ui-ebook {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.features-ui-ebook .div {
  background-color: var(--light-background-color);
  overflow: hidden;
  width: 1306px;
  height: 2240px;
  position: relative;
}

.features-ui-ebook .header-dark-app {
  position: absolute;
  width: 1306px;
  height: 368px;
  top: 0;
  left: 0;
}

.features-ui-ebook .overlap-group {
  position: absolute;
  width: 1129px;
  height: 200px;
  top: 752px;
  left: 99px;
}

.features-ui-ebook .col-md {
  display: flex;
  flex-direction: column;
  width: 599px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: 6px;
}

.features-ui-ebook .headline {
  position: relative;
  width: 335px;
  height: 90px;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--light-text-color);
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
  white-space: nowrap;
}

.features-ui-ebook .cta {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.features-ui-ebook .button-md {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  white-space: nowrap;
  font-style: var(--btn-text-font-style);
}

.features-ui-ebook .section-title {
  width: 1022px;
  top: 162px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .h-section-title {
  width: 255px;
  top: 0;
  left: 6px;
  color: var(--text-color);
  font-size: 40px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph {
  width: 419px;
  top: 53px;
  left: 6px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .text-wrapper {
  width: 693px;
  top: 11px;
  left: 436px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .p {
  width: 1018px;
  top: 961px;
  left: 103px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--second-text-color);
  font-size: 24px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .span {
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #727272;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .text-wrapper-2 {
  font-size: 25px;
}

.features-ui-ebook .overlap {
  position: absolute;
  width: 1023px;
  height: 63px;
  top: 1261px;
  left: 87px;
}

.features-ui-ebook .section-title-2 {
  position: absolute;
  width: 439px;
  top: 0;
  left: 0;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 30px;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-3 {
  width: 1023px;
  top: 25px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .overlap-2 {
  position: absolute;
  width: 1023px;
  height: 63px;
  top: 1481px;
  left: 87px;
}

.features-ui-ebook .ellipse {
  position: absolute;
  width: 289px;
  height: 289px;
  top: 444px;
  left: 105px;
}

.features-ui-ebook .paragraph-2 {
  width: 439px;
  top: 1349px;
  left: 87px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .text-wrapper-3 {
  color: #252b42;
}

.features-ui-ebook .text-wrapper-4 {
  color: #727272;
}

.features-ui-ebook .overlap-3 {
  position: absolute;
  width: 1023px;
  height: 165px;
  top: 1553px;
  left: 87px;
}

.features-ui-ebook .paragraph-3 {
  width: 826px;
  top: 0;
  left: 6px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .section-title-4 {
  width: 439px;
  top: 102px;
  left: 0;
  color: var(--text-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-5 {
  width: 1023px;
  top: 127px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph-4 {
  width: 1023px;
  top: 1722px;
  left: 87px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-4 {
  position: absolute;
  width: 1023px;
  height: 63px;
  top: 1860px;
  left: 87px;
}

.features-ui-ebook .paragraph-5 {
  width: 1051px;
  top: 1953px;
  left: 87px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-5 {
  position: absolute;
  width: 1023px;
  height: 63px;
  top: 2065px;
  left: 87px;
}

.features-ui-ebook .paragraph-6 {
  width: 1051px;
  top: 2132px;
  left: 87px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .container {
  display: flex;
  flex-direction: column;
  width: 764px;
  align-items: center;
  gap: 48px;
  padding: 48px 0px;
  position: absolute;
  top: 2286px;
  left: 64px;
}

.features-ui-ebook .row {
  display: flex;
  width: 688px;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.features-ui-ebook .main-content {
  display: flex;
  flex-direction: column;
  width: 686px;
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
  position: relative;
}

.features-ui-ebook .h-headline {
  position: relative;
  width: 675px;
  height: 50px;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--light-text-color);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .cta-2 {
  position: relative;
  flex: 0 0 auto;
}

.features-ui-ebook .btn-text-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 473px;
  left: 992px;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text-2 {
  position: relative;
  width: 121px;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  font-style: var(--btn-text-font-style);
}
