.features-ui-ebook {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.features-ui-ebook .div {
  background-color: var(--light-background-color);
  width: 1306px;
  height: 2340px;
  position: relative;
}

.features-ui-ebook .header-dark-app {
  position: absolute;
  width: 1306px;
  height: 368px;
  top: 0;
  left: 0;
}

.features-ui-ebook .overlap {
  position: absolute;
  width: 542px;
  height: 142px;
  top: 723px;
  left: 140px;
}

.features-ui-ebook .col-md {
  display: flex;
  flex-direction: column;
  width: 542px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.features-ui-ebook .headline {
  position: relative;
  width: 335px;
  height: 90px;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--light-text-color);
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
  white-space: nowrap;
}

.features-ui-ebook .cta {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.features-ui-ebook .button-md {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  white-space: nowrap;
  font-style: var(--btn-text-font-style);
}

.features-ui-ebook .section-title {
  width: 265px;
  top: 6px;
  left: 0;
  color: var(--text-color);
  font-size: 40px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph {
  width: 435px;
  top: 48px;
  left: 0;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-group {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1114px;
  left: 124px;
}

.features-ui-ebook .h-section-title {
  position: absolute;
  width: 455px;
  top: 0;
  left: 0;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 30px;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .text-wrapper {
  width: 1060px;
  top: 25px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .overlap-2 {
  position: absolute;
  width: 1071px;
  height: 38px;
  top: 898px;
  left: 124px;
}

.features-ui-ebook .section-title-2 {
  width: 1060px;
  top: 0;
  left: 11px;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-3 {
  width: 1060px;
  top: 0;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .overlap-3 {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1334px;
  left: 124px;
}

.features-ui-ebook .ellipse {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 414px;
  left: 129px;
}

.features-ui-ebook .p {
  width: 1055px;
  top: 966px;
  left: 129px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--second-text-color);
  font-size: 24px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-2 {
  width: 455px;
  top: 1181px;
  left: 124px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-3 {
  width: 455px;
  top: 1401px;
  left: 124px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-4 {
  width: 435px;
  top: 714px;
  left: 704px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-4 {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1525px;
  left: 124px;
}

.features-ui-ebook .section-title-4 {
  width: 1060px;
  top: 25px;
  left: 0;
  color: var(--text-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph-5 {
  width: 455px;
  top: 1605px;
  left: 124px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-5 {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1730px;
  left: 124px;
}

.features-ui-ebook .paragraph-6 {
  width: 1089px;
  top: 1797px;
  left: 124px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-6 {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1935px;
  left: 124px;
}

.features-ui-ebook .paragraph-7 {
  width: 1089px;
  top: 2002px;
  left: 124px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .btn-text-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 499px;
  left: 983px;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text-2 {
  position: relative;
  width: 121px;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  font-style: var(--btn-text-font-style);
}
