.features-ui-ebook {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.features-ui-ebook .div {
  background-color: var(--light-background-color);
  width: 1306px;
  height: 2340px;
  position: relative;
}

.features-ui-ebook .header-dark-app {
  position: absolute;
  width: 1306px;
  height: 368px;
  top: 0;
  left: 0;
}

.features-ui-ebook .overlap-group {
  position: absolute;
  width: 1113px;
  height: 492px;
  top: 392px;
  left: 97px;
}

.features-ui-ebook .container-fluid {
  position: absolute;
  width: 414px;
  height: 227px;
  top: 265px;
  left: 0;
  overflow: hidden;
}

.features-ui-ebook .col-md {
  display: flex;
  flex-direction: column;
  width: 542px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 59px;
  left: 32px;
}

.features-ui-ebook .headline {
  position: relative;
  width: 335px;
  height: 90px;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--light-text-color);
  font-size: 58px;
  letter-spacing: 0.2px;
  line-height: 80px;
  white-space: nowrap;
}

.features-ui-ebook .cta {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.features-ui-ebook .button-md {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  white-space: nowrap;
  font-style: var(--btn-text-font-style);
}

.features-ui-ebook .section-title {
  width: 1060px;
  top: 458px;
  left: 53px;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .h-section-title {
  width: 265px;
  top: 321px;
  left: 42px;
  color: var(--text-color);
  font-size: 40px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph {
  width: 435px;
  top: 368px;
  left: 43px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .text-wrapper {
  width: 1060px;
  top: 458px;
  left: 42px;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .ellipse {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 25px;
}

.features-ui-ebook .overlap {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1198px;
  left: 139px;
}

.features-ui-ebook .section-title-2 {
  position: absolute;
  width: 455px;
  top: 0;
  left: 0;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 30px;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-3 {
  width: 1060px;
  top: 25px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .overlap-2 {
  position: absolute;
  width: 1060px;
  height: 63px;
  top: 1432px;
  left: 144px;
}

.features-ui-ebook .p {
  width: 1055px;
  top: 905px;
  left: 138px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--second-text-color);
  font-size: 24px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-2 {
  width: 366px;
  top: 1274px;
  left: 139px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-3 {
  width: 366px;
  top: 1281px;
  left: 806px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-4 {
  width: 1055px;
  top: 1495px;
  left: 149px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 20px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .paragraph-5 {
  top: 700px;
  left: 594px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .overlap-3 {
  position: absolute;
  width: 1060px;
  height: 52px;
  top: 1671px;
  left: 144px;
}

.features-ui-ebook .section-title-4 {
  width: 455px;
  top: 0;
  left: 4px;
  color: var(--text-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-5 {
  width: 1060px;
  top: 14px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph-6 {
  width: 455px;
  top: 1728px;
  left: 148px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .span {
  color: #252b42;
}

.features-ui-ebook .text-wrapper-2 {
  color: #727272;
}

.features-ui-ebook .overlap-4 {
  position: absolute;
  width: 1060px;
  height: 51px;
  top: 1856px;
  left: 144px;
}

.features-ui-ebook .section-title-6 {
  width: 1060px;
  top: 13px;
  left: 0;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph-7 {
  width: 1089px;
  top: 1911px;
  left: 144px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 25px;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .section-title-7 {
  width: 455px;
  top: 2092px;
  left: 148px;
  color: var(--text-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .section-title-8 {
  width: 1060px;
  top: 2051px;
  left: 148px;
  color: var(--muted-color);
  font-size: 30px;
  position: absolute;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 50px;
  white-space: nowrap;
}

.features-ui-ebook .paragraph-8 {
  width: 1094px;
  height: 70px;
  top: 2181px;
  left: 144px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: var(--second-text-color);
  font-size: 18px;
  text-align: justify;
  position: absolute;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.features-ui-ebook .btn-text-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 516px;
  left: 971px;
  background-color: #51bfa6;
  border-radius: 5px;
  overflow: hidden;
}

.features-ui-ebook .btn-text-2 {
  position: relative;
  width: 121px;
  margin-top: -1px;
  font-family: var(--btn-text-font-family);
  font-weight: var(--btn-text-font-weight);
  color: var(--light-text-color);
  font-size: var(--btn-text-font-size);
  text-align: center;
  letter-spacing: var(--btn-text-letter-spacing);
  line-height: var(--btn-text-line-height);
  font-style: var(--btn-text-font-style);
}
